@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
.signup-form {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height:200vh;
  align-items: center;
  margin-top:60px;
  margin-left:500px;
  
  
}
.cart{
  margin-left: 150px;
  font-size: 28px;
  
}
.cart2{
  margin-left:160px;
  font-size: 17px;
}
.logo {
  width: 200px;
  margin-bottom: 20px;
  margin-left:220px;
}


h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 150%;
 
  
}

.form-group {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 143%;
  margin-left: 35px;
   /* Adjusted width to fit two items side by side */
}

.input-box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.label-text {
  margin-bottom: 5px;
  font-size: 17px;
  color: #333;
  text-align: left;
}
.password-toggle{
  position: relative;
  margin-left: 700px;
  top: 10%;
  right:20px;
  transform: translateY(-150%);
  
  
}
.check_input{
  margin-right: 700px;
  margin-top: 1px;
  
 
  
}
.label-text-inline {
  font-size: 17px;
  color: #333;
  margin-right :400px;
  margin-top:1px;
  transform: translateY(-80%);
  
  }

.submit-button {
  width: 143%;
  padding: 10px;
  background-color: #d9534f;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 17px;
  cursor: pointer;
  margin-left:30px;
  margin-bottom:1px;
  margin-top: 1px;
 
 
  
}

.submit-button:hover {
  background-color: #c9302c;
}

.signin-text {
  font-size: 17px;
  margin-top: 10px; 
  color: #666;
  margin-right: 150px;
}

.signin-text a {
  color: #d9534f;
  text-decoration: none;
}

.signin-text a:hover {
  text-decoration: underline;
}
